p {
	font-family: 'Arbutus Slab', serif;
	font-size: 14px;
	font-weight: normal;
}

h1 {
	font-family: 'Arbutus Slab', serif;
	font-size: 48px;
	text-align: center;
	color: #574D37;
	letter-spacing: -1px;
}

form {
	text-align: center;
}

label {
	font-family: 'Arbutus Slab', serif;
	font-size: 18px;
	color: #F93;
}

circle {
	fill: #9C3;
}

#name {
	border: 1px solid #E6DFD3;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
	color: #574D37;
}

#submit {
	background-color: #F93;
	padding: 5px;
	color: white;
	font-size: 14px;
}

.gallery {
	text-align: center;
	margin-top: 10px;
}

.link {
      stroke: #ddd;
      fill: none;
}

.text {
	font-family: Helvetica-Neue, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	color: #574D37;
}

.tooltip {
	position: absolute;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 0 15px 5px #E3E3E3;
	width: 300px;
	
}

.close{
	width:15px;
	height:15px;
	border-radius:50px;
	font-size:.75em;
	font-family: sans-serif;
	color: white;
	text-align:center;
	text-decoration:none;
	background:red;
	display: inline-block;
	margin: 5px;
	float: left;
}

.close:hover {
	background-color: rgb(175,10,10);
	cursor: pointer;
}

.hidden {
	display: none;
}

.not-option {
	color: #999;
}